.main__section {
  background-image: url("../assets/menu__fundo.png");
  height: 92.7vh;
  width: 100%;
  background-size: cover;
  position: relative;
  top: 70px;
  background-position: center;
  filter: saturate(190%);
}

.main__h1 {
  font-size: 70px;
  color: #fff;
  text-transform: capitalize;
  position: relative;
  margin-left: 15%;
  top: 20%;
}

.main__logo {
  width: 150px;
  position: relative;
  top: 40px;
}

span {
  font-size: 85px;
  font-weight: bolder;
  color: #ffffff;
  background-color: #21243d;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.267);
}

.main__p {
  color: #ffffff;
  position: relative;
  top: 27%;
  font-size: 50px;
  margin-left: 15%;
}

.main__btn {
  position: relative;
  top: 32%;
  font-size: 20px;
  margin-left: 15%;
  height: 7%;
  width: 10%;
  border-radius: 30px;
  text-transform: uppercase;
  color: #21243d;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #21243d;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.24);
}

.main__btn:hover {
  transition: all 0.9s;
  color: #ffffff;
  background-color: #21243d;
  cursor: pointer;
  border: 1px solid #ffffff;
}

/* === resposivity === */


/* MOBILE */
@media screen and (max-width: 600px) {
  span {
    font-size: 80%;
  }
  .main__logo {
    width: 0px;
    visibility: hidden;
  }
  .main__section {
    top: 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
  }

  .main__p  {
    font-size: 30px;
    color: #ffffff;
    background-color: #21243d;
    width: 270px;
    border-radius: 5px;
    padding: 5px;
  }

  .main__btn {
    height: 5%;
    width: 20%;
    font-size: 17px;
  }
}

@media screen and (max-width: 550px) {
  span {
    font-size: 60%;
  }

  .main__btn {
    height: 5%;
    width: 18%;
    font-size: 12px;
  }
}